.page-header {
	text-align: center;
}

.page-header.has-post-thumbnail {
	margin: 0;
	padding: 0;
	max-width: 100%;
	position: relative;

	& .post-thumbnail {
		border-bottom: none;
	}

	& img {
		width: 100%;
		height: var(--page-header-max-height);
		object-fit: cover;
	}

	& .entry-title {
		max-width: var(--content-width);
		margin-left: auto;
		margin-right: auto;
		padding-left: var(--gutter-width);
		padding-right: var(--gutter-width);
	}
}

.archive.category {

	& .page-header.has-post-thumbnail {
		margin-bottom: 4rem;

		& .header-content {
			padding: 1rem;
			background-color: rgba(0, 0, 0, 20%);
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translate(0, -50%);
			color: #fff;
			text-shadow: var(--global-text-shadow);
		}

		& .page-title {
			margin-top: 0;
			margin-bottom: 0.5rem;
		}

		& .archive-description {
			font-family: var(--highlight-font-family);
		}
	}
}

@media (--tablet-up) {

	.page-header.has-post-thumbnail {
		margin-bottom: 4rem;

		& .entry-title {
			padding-left: var(--gutter-width-small);
			padding-right: var(--gutter-width-small);
		}

	}
}

@media (--tablet-wide-up) {

	.page-header.has-post-thumbnail {

		& .entry-title {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.archive.category {

		& .page-header.has-post-thumbnail {
			margin-bottom: 4rem;

			& .header-content {
				left: 25%;
				right: 25%;
			}
		}
	}
}

