
/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/

/*
 * Available block selectors:
 * .wp-block-image
 * .wp-block-media-text
 * .wp-block-gallery
 * .wp-block-audio
 * .wp-block-video
 * .wp-block-quote
 * .wp-block-cover
 * .wp-block-file
 * .wp-block-button
 * .wp-block-gallery
 * .wp-block-table
 * .wp-block-embed
 * .wp-block-audio
 * .wp-block-pullquote
 * .wp-block-preformatted
 * .wp-block-code
 * .wp-block-verse
 * .wp-block-table
 * .wp-block-separator
 * .wp-block-columns
 * .wp-block-column
 * .wp-block-latest-posts
 * .wp-block-categories
 * .wp-block-archives
 */
.page-content > [class^="wp-block-"] {
	margin-top: var(--block-spacing-vert);
	margin-bottom: var(--block-spacing-vert);

	&:first-child {
		margin-top: 0;
	}

	&.is-page-intro,
	&.is-page-header {
		margin-top: 0;
	}

}

.page-content > .wp-block-columns + .wp-block-columns,
.page-content > .alignfull.has-background + .alignfull.has-background,
.page-content > .alignfull.has-background + .wp-block-cover {
	margin-top: calc(-1 * var(--block-spacing-vert));
}


.home .wp-block-group.is-page-intro {
	min-height: calc(400px - 2 * var(--block-spacing-vert));
}

.page-content > .wp-block-spacer,
.wp-block-spacer {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

@media (--tablet-up) {

	.page-content > .wp-block-columns + .wp-block-columns,
	.page-content > .alignfull.has-background + .alignfull.has-background,
	.page-content > .alignfull.has-background + .wp-block-cover,
	.page-content > .wp-block-cover + .alignfull.has-background {
		margin-top: calc(-1 * var(--block-spacing-vert));
	}

}


/*--------------------------------------------------------------
# Group Block (single column) - overrides core styles
--------------------------------------------------------------*/

.wp-block-group {
	display: flex;
	flex-direction: column;
	justify-content: center;

	&.is-single-column {
		min-height: 400px;
	}


	&.is-group-quote {

		& .wp-block-group__inner-container {
			padding: var(--block-spacing-vert) var(--gutter-width-page);
		}
	}

	&.is-page-intro {

		& p {
			font-size: var(--font-size-intro);
		}

		& .wp-block-group__inner-container {
			padding: 0 var(--gutter-width-page);
		}

	}

	/*this is to override core */
	&.has-background {
		padding: var(--block-spacing-vert) var(--gutter-width-page);
	}


	& .wp-block-group__inner-container > * {
		margin-bottom: var(--block-spacing-vert-inner);
		max-width: var(--content-width);
		margin-right: auto;
		margin-left: auto;

		&:last-child {
			margin-bottom: 0;
		}

		&.alignwide {
			max-width: var(--content-width-wide);
		}

		&.alignfull {
			max-width: 100%;
		}
	}

	&.alignfull {

		& > .wp-block-group__inner-container > *:not(.alignfull) {
			padding-left: var(--gutter-width-page);
			padding-right: var(--gutter-width-page);
		}
	}

}

@media (--tablet-up) {

	.wp-block-group {

		&.has-background:not(.alignfull) {
			margin-left: max(var(--gutter-width-page), calc((100% - var(--content-width)) / 2));
			margin-right: max(var(--gutter-width-page), calc((100% - var(--content-width)) / 2));
		}

		&.has-background.alignwide {
			margin-left: max(var(--gutter-width-page), calc((100% - var(--content-width-wide)) / 2));
			margin-right: max(var(--gutter-width-page), calc((100% - var(--content-width-wide)) / 2));
		}

		&.is-group-quote {

			& .wp-block-group__inner-container {
				padding: var(--block-spacing-vert) var(--gutter-width);
			}
		}


	}
}


.wp-block-buttons > .wp-block-button {
	margin-bottom: 0;
}

.wp-block-button__link {
	border-radius: 0;
	background-color: var(--color-button-background);
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-button);
	transition: all 0.5s ease;
	padding: 14px 2rem;
	text-shadow: none;

	&:hover {
		background-color: var(--color-button-background-hover);
		text-decoration: none;
	}

	&:not(.has-text-color),
	&:visited {
		color: var(--color-button-text);
	}

}


.aligncenter,
.is-content-justification-center {

	& .is-style-arrow-cta .wp-block-button__link,
	& a.is-style-arrow-cta {
		padding: 14px 1rem;
	}
}

.is-style-arrow-cta .wp-block-button__link,
a.is-style-arrow-cta,
.tribe-block__event-website a {

	background-color: transparent;
	border: none;

	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-cta);
	padding-left: 0;
	text-transform: none;

	&:not(.has-text-color) {
		color: var(--color-link);
	}

	&::after {
		content: "\203A";
		padding-left: 5px;
		transition: padding 0.3s linear;
	}

	&:hover {
		color: var(--color-link-active);
		text-decoration: none;

		&::after {
			content: "\203A";
			padding-left: 8px;
		}
	}

}

/*--------------------------------------------------------------
# WP Block Image- overrides core styles
--------------------------------------------------------------*/
.wp-block-image {
	margin-bottom: var(--gutter-width);


	&.alignfull {

		& img {
			height: 66vw;
			min-height: 400px;
			max-height: 870px;
			object-fit: cover;
		}

		& figcaption {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	&.alignwide {

		& img {
			height: calc(66vw - (2 * var(--gutter-width-columns)));
			min-height: 400px;
			max-height: 870px;
			object-fit: cover;
		}
	}


}

.wp-block-image.is-style-rounded {
	width: 200px;
	height: 200px;
	margin: 0 auto;

	& img {
		object-fit: cover;
		width: auto;
		height: 100%;

	}
}

.wp-block-carkeek-blocks-link-gallery {

	& .wp-block-image {
		margin-bottom: 0;

		& img {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media (--tablet-small-up) {

	.wp-block-image {
		margin-bottom: var(--gutter-width-columns);
	}
}

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

/** Turn off grid on mobile **/
.wp-block-media-text {
	display: flex;
	flex-direction: column;

	& .wp-block-media-text__content {
		padding: 0;
		padding-top: var(--gutter-width);

		align-self: flex-start;
	}

	& .wp-block-media-text__media {
		width: 100%;
		align-self: flex-start;
	}

	&.alignfull {
		padding: 0;

		& .wp-block-media-text__media {
			padding: 0;
		}

	}

	&.alignwide:not(.has-background) {
		padding: 0;

	}

	&.has-background {

		& .wp-block-media-text__content {
			padding-top: calc(2 * var(--gutter-width));
			padding-bottom: calc(2 * var(--gutter-width));
		}
	}

	&.is-style-small-image {

		& .wp-block-media-text__media {
			padding-bottom: var(--gutter-width);

			& img {
				max-width: 200px;
				margin-right: auto;
				margin-left: auto;
			}
		}

	}

	&.is-style-inline-style {
		margin-bottom: var(--paragraph-spacing);
	}

	&.is-style-round-image {

		& .wp-block-media-text__media {

			& img {
				width: 200px;
				height: 200px;
				object-fit: cover;
				border-radius: 100%;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	&.anchor-top {

		& .wp-block-media-text__media {

			& img {
				object-position: 50% 0;
			}
		}
	}

	&.anchor-bottom {

		& .wp-block-media-text__media {

			& img {
				object-position: 50% 100%;
			}
		}
	}

	&.has-background.has-media-on-the-top {
		display: flex;

		& .wp-block-media-text__media {
			position: relative;

			&::after {
				display: block;
				width: 100%;
				content: "";
				padding-bottom: 66%;
			}

			& img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}


	}

	&.has-media-on-the-top {
		display: flex;
		flex-direction: column;

		& .wp-block-media-text__content {
			padding-left: 0;
			flex: 1 1 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

.wp-block-column .wp-block-media-text {
	height: 100%;
}

@media screen and (min-width: 600px) {

	.page-content > .wp-block-media-text:not(.has-background) {

		&.alignwide {
			padding-left: var(--gutter-width);
			padding-right: var(--gutter-width);
		}

		&.alignfull {
			padding-left: 0;
		}

		&.alignfull.has-media-on-the-right {
			padding-left: var(--gutter-width);
			padding-right: 0;
		}


	}

	.wp-block-media-text {
		display: grid;
		grid-auto-rows: 1fr;

		& .wp-block-media-text__content {
			padding: 0;
			padding-left: var(--gutter-width-columns);
		}

		& .wp-block-media-text__media {

			& img {
				object-fit: cover;
				height: auto;
				width: 100%;
				max-height: 800px;
			}
		}

		&.is-style-inline-style {

			& .wp-block-media-text__content {
				padding-left: calc(var(--paragraph-spacing) + 10px);
			}
		}

		&.has-media-on-the-right {

			& .wp-block-media-text__content {
				padding-right: var(--gutter-width-columns);
				padding-left: 0;
			}

			&.is-style-inline-style {

				& .wp-block-media-text__content {
					padding-right: calc(var(--paragraph-spacing) + 10px);
				}

			}

			&.has-background:not(.has-media-on-the-top) {
				height: 56vw;
				max-height: 800px;

				& .wp-block-media-text__media {
					width: 100%;
					height: 100%;
					max-height: 800px;

					& img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				& .wp-block-media-text__content {
					padding: 15% 10%;
				}
			}

			&.is-style-small-image,
			&.is-style-round-image {
				grid-template-columns: 25% 1fr;

				& .wp-block-media-text__content {
					padding-top: 0;
					padding-bottom: 0;
				}

				& .wp-block-media-text__media {
					padding-bottom: 0;
				}

				&.has-media-on-the-right {
					grid-template-columns: 1fr 25%;
				}
			}

			&.is-style-round-image {
				grid-template-columns: 200px 1fr;
			}

			&.is-style-vertical-center-text {

				& .wp-block-media-text__content {
					align-self: center;
				}
			}

			&.is-image-fill {

				& figure.wp-block-media-text__media {
					min-height: 300px;
				}
			}
		}
	}
}

@media (--tablet-wide-up) {

	.wp-block-media-text.is-style-include-padding-text {

		& .wp-block-media-text__content {
			padding-top: var(--gutter-width-columns);
			padding-bottom: var(--gutter-width-columns);
		}
	}

}

@media (--desktop-up) {

	.wp-block-media-text.is-image-fill {

		& figure.wp-block-media-text__media {
			min-height: 425px;
		}
	}

}

/*--------------------------------------------------------------
# Cover Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-cover {
	display: flex;
	align-items: center;

	padding-top: var(--block-spacing-vert);
	padding-bottom: var(--block-spacing-vert);

	background-size: cover;
	background-repeat: no-repeat;

	&:not(.is-cover-quote) {
		height: 66vw;
		min-height: 400px;
		max-height: 870px;
	}

	&.is-crop-form {
		height: auto;
	}

	&.alignwide,
	&.alignfull {

		& .wp-block-cover__inner-container {
			width: auto;
			padding: var(--block-spacing-vert) var(--gutter-width);
		}
	}
}

.wp-block-cover__inner-container > * {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
	text-shadow: var(--global-text-shadow);
}

.wp-block-cover .wp-block-cover-text,
.wp-block-cover p {
	margin-top: 0;
}

@media (--tablet-small-up) {

	.wp-block-cover {
		display: flex;
		align-items: center;

		&.is-cover-quote {
			padding: var(--block-spacing-vert) var(--gutter-width);
		}

		& .wp-block-cover__inner-container {
			max-width: var(--content-width);
			padding: var(--block-spacing-vert) var(--gutter-width);
		}

		&.alignwide {

			& .wp-block-cover__inner-container {

				padding: var(--block-spacing-vert) var(--gutter-width);
				max-width: 100%;
			}
		}

		&.alignfull {

			& .wp-block-cover__inner-container {
				padding: var(--block-spacing-vert) var(--gutter-width-columns);
				max-width: 100%;
			}
		}
	}
}

@media (--tablet-up) {

	&.is-crop-form {
		height: 66vw;
		min-height: 400px;
		max-height: 870px;
	}
}

/*--------------------------------------------------------------
# Social Links
--------------------------------------------------------------*/
.wp-block-social-links.is-style-logos-only .wp-social-link svg {
	color: var(--color-theme-green);
	fill: var(--color-theme-green);
}

/*--------------------------------------------------------------
# Columns Block - overrides core styles
--------------------------------------------------------------*/
.wp-block-columns {
	margin-bottom: 0;

	&.is-style-vertical-centered {
		padding-top: var(--block-spacing-vert);
		padding-bottom: var(--block-spacing-vert);

		& .wp-block-column {
			text-align: center;
		}
	}

	& .wp-block-column {
		margin-bottom: var(--gutter-width);

		&.has-background {
			margin-bottom: 0;
			padding-bottom: var(--gutter-width);
		}
	}
}

@media (--tablet-small-up) {

	.wp-block-columns {

		& .wp-block-column {
			margin-bottom: var(--gutter-width-columns);

			&.has-background {
				margin-bottom: 0;
				padding-bottom: var(--gutter-width-columns);
			}
		}
	}
}

@media (--tablet-up) {

	.wp-block-columns {

		&.is-style-vertical-centered {
			padding-top: var(--block-spacing-vert);
			padding-bottom: var(--block-spacing-vert);

			& .wp-block-column {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: left;
			}
		}

	}
}

@media (max-width: 781px) and (min-width: 600px) {

	.wp-block-columns {
		flex-direction: row;
		flex-wrap: wrap;

		& .wp-block-column:not(.column-donate) {
			flex-basis: calc(50% - var(--gutter-width-columns) / 2) !important;
			margin-bottom: var(--gutter-width-columns);
			margin-left: 0;

			&:nth-child(2) {
				margin-left: var(--gutter-width-columns);
			}

			&.has-background {
				margin-bottom: 0;
				padding-bottom: var(--gutter-width-columns);
			}
		}

		&.wp-block-carkeek-blocks-link-tiles {
			flex-wrap: nowrap;

			& .wp-block-column {
				flex-basis: auto !important;
				margin-left: var(--gutter-width-columns);

				&:first-of-type {
					margin-left: 0;
				}
			}

		}
	}
}

@media (min-width: 782px) {

	.wp-block-columns {

		& .wp-block-column {

			&:not(:first-child) {
				margin-left: var(--gutter-width-columns);
			}
		}
	}
}

.wp-block-latest-posts,
.wp-block-latest-comments {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignfull {
	padding: 0 1.5em;
}

/*--------------------------------------------------------------
# Pull Quote Block, Quote Block - make either option work
--------------------------------------------------------------*/
.wp-block-pullquote,
.wp-block-pullquote.is-style-solid-color {
	margin-bottom: 0;
	padding-left: 2.25rem;
	padding-right: 2.25rem;

	& blockquote {
		text-align: center;
		border-left: none;

		& p {
			font-size: var(--font-size-med);
			line-height: 1.6667;
		}
	}

}

.wp-block-quote {
	margin: 0;
	padding: var(--block-spacing-vert) 0;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border: none;
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	border: none;
	color: inherit;
	font-size: 14px;
	margin-top: 3rem;
	display: block;
}

@media (--tablet-up) {

	.wp-block-quote {
		margin: 0;
		padding: var(--block-spacing-vert) 0;
	}
}

@media (--tablet-wide-up) {

	.wp-block-quote {
		margin: 0;
		padding: var(--block-spacing-vert) 0;
	}

	.wp-block-quote__citation,
	.wp-block-quote cite,
	.wp-block-quote footer,
	.wp-block-pullquote cite,
	.wp-block-pullquote footer {
		font-size: 16px;
	}
}

@media (--desktop-up) {

	.wp-block-quote__citation,
	.wp-block-quote cite,
	.wp-block-quote footer,
	.wp-block-pullquote cite,
	.wp-block-pullquote footer {
		font-size: 20px;
	}
}

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 0.5em;
}

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}

/* Override standard ul indentation. */

.entry-content .wp-block-gallery {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

@media screen and (min-width: 48em) {

	.entry-content .wp-block-gallery {
		padding-right: 0;
		padding-left: 0;
	}
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	grid-column: span 1;
	margin: 0;
	width: inherit;
}

.blocks-gallery-item:last-child:nth-child(odd) {
	grid-column: span 2;
}

@media screen and (min-width: 40em) {

	.wp-block-gallery.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.wp-block-gallery.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-gallery.columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.wp-block-gallery.columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.wp-block-gallery.columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.wp-block-gallery.columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.wp-block-gallery.columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.wp-block-gallery.columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}

/*--------------------------------------------------------------
# CUSTOM BLOCK OVERRIDES
--------------------------------------------------------------*/
.wp-block-separator {
	margin-top: var(--block-spacing-vert);
	border-color: var(--color-border);

	&.is-style-no-margin {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/*--------------------------------------------------------------
# CUSTOM BLOCK OVERRIDES - Link Tiles
--------------------------------------------------------------*/

.wp-block-carkeek-blocks-link-tile {

	line-height: 1.25;

	& .wp-block-carkeek-blocks-link-tile__img {
		text-shadow: var(--global-text-shadow);
	}

}

.home .wp-block-carkeek-blocks-link-tiles {
	margin-bottom: 0;
}

@media (--desktop-up) {

	.wp-block-carkeek-blocks-link-tiles {

		& .wp-block-carkeek-blocks-link-tile {
			max-height: 400px;

			& span {
				font-size: 2.125rem;
			}

			&.has-theme-blue-background-color {

				& .link-tile__hover_title {
					color: var(--color-theme-grey);
				}
			}
		}
	}

}

/*--------------------------------------------------------------
# CUSTOM BLOCK OVERRIDES - Team Members
--------------------------------------------------------------*/

.wp-block-carkeek-blocks-custom-archive.is-list.post-type-tribe_events {
	padding-left: 0;
	padding-right: 0;

	& .archive-entry {
		margin-bottom: 0;

		&:first-of-type::before {
			display: none;
		}

		&::after {
			display: none;
		}

		& .entry-taxonomies {
			margin-bottom: 0;
		}
	}

	& .entry-title {
		color: inherit;
	}

	& .archive-entry--content {
		margin-top: 0;
		padding: calc(2 * var(--gutter-width)) var(--gutter-width);

		& .event-title {
			margin-bottom: 1.5rem;
		}
	}

	& .tribe-events-calendar-list__event-more-link {
		margin-top: 1.5rem;
	}
}

.wp-block-carkeek-blocks-custom-archive.post-type-post {

	& .archive-entry {

		&:first-of-type::before {
			display: none;
		}

		&::after {
			display: none;
		}
	}
}

@media (--tablet-small-up) {

	.wp-block-carkeek-blocks-custom-archive.is-list.post-type-tribe_events {

		& .post-thumbnail {
			height: 100%;
		}

		& .archive-entry:nth-of-type(even) {
			flex-direction: row-reverse;
		}

		& .archive-entry {
			height: 56vw;
			max-height: 760px;

		}

		& .archive-entry--content {
			margin-top: 0;
			padding: var(--block-spacing-vert) var(--gutter-width-columns);
		}
	}
}

@media (--tablet-small-up) {

	.wp-block-carkeek-blocks-custom-archive.is-list.post-type-tribe_events {

		& .archive-entry {

			& .archive-entry--thumb,
			& .archive-entry--content {
				flex-basis: 50%;
			}


		}
	}

}


.wp-block-carkeek-blocks-widget-row {

	& .ck-columns__wrap > * {
		margin-bottom: var(--gutter-width-columns);
	}

	&.partner-logos {

		& .ck-columns__wrap > * {
			display: flex;
			flex-direction: column;
			justify-content: center;

			& figcaption {
				justify-self: flex-end;
				margin-bottom: 0;
				font-size: var(--font-size-small);
				line-height: 1.125;
				text-align: center;
			}
		}
	}

}

@media (--rig-mobile-only) {

	.wp-block-carkeek-blocks-widget-row {

		&.has-3-columns-mobile {

			& .ck-columns__wrap {
				display: flex;
				flex-wrap: wrap;
			}

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 2 * var(--ck-column-gap)) / 3);
				margin-right: var(--ck-column-gap);

				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}

		}
	}
}

.wp-block-woocommerce-all-products {

	& h2 .wc-block-components-product-name {
		text-transform: none;
		font-size: var(--font-size-large);
		letter-spacing: 0;
	}

	&.hide-add-to-cart {

		& .wc-block-grid__product-add-to-cart {
			display: none;
		}
	}

	&.hide-pagination {

		& .wc-block-pagination {
			display: none;
		}
	}

}

.wp-block-carkeek-blocks-icon.is-style-circled .wp-block-carkeek-blocks-icon__inner {
	background-color: var(--color-theme-primary);
	color: #fff;
}

.wp-block-carkeek-blocks-accordion {
	--ck-color-accordion-header-bg: #fff;
	--ck-color-accordion-header-text: var(--color-link);
	--ck-color-accordion-header-expanded-bg: var(--color-link);
	--ck-color-accordion-header-expanded-text: #fff;
	--ck-color-accordion-header-focus-bg: var(--color-theme-grey-dark);
	--ck-color-accordion-header-focus-text: #fff;
	--ck-accordion-panel-bg: #fff;
	--ck-accordion-panel-spacing: 10px;
	--ck-accordion-borders: 1px solid #ccc;
	--ck-accordion-header-padding: 1rem;
	--ck-accordion-expand: "\F138";

	& .accordion__trigger {
		font-size: var(--font-size-regular);
	}
}
